<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>

<%= render 'form' %>